@import '../../styles/global.scss';

.container{
    background-color: $primaryColor;
    color:$baseColor;
    

    .header{

        @include flexRow(center,space-between,15);
        padding:  8px 30px;

        .sectionOne{
            @include flexCol(flex-start,center,10);

            .title{
                @include heading;
                
               
           
                :last-child{
                    color:$secondaryColor;
                }
         
            }

            
            .options{
            @include flexRow(center,center,15);
            @include content;
            }

            div{
                @include flexRow(center,center);
                // display:flex;
                // align-items: center;
                font-size: 13px;
            }

            svg{
                font-size: 12px;
                transform: rotate(90deg);
                margin-top:1px;
            }
        }

       

        .mobileMenu{
            display: none;
        }

        @media only screen and (max-width:1000px) {
            .mobileMenu{
                display: flex;
            }
            
            .sectionTwo{
                display: none;
            }

            .sectionThree{
                display: none;
            }

        }

    }

    .sectionTwo{
        .navigation{
            @include flexRow(center,space-around,100);
            @include subHeading;

            .active{
               color:$secondaryColor;
               border-bottom: 1px solid $secondaryColor;
               transition: 0.5s ease; 
            }
        }
    }
    .sectionThree{
        @include flexRow(center,center,10);
     

        button{
            background:transparent ;
            border: none;
            padding:5px 10px;
            color:$baseColor;
            cursor: pointer;
            @include subHeading;
        }

        .signUp{
            background-color:$secondaryColor;
        }

    }

  .mobileContainer{
   display: none;
   
   .closeIcon{
    display: none;
   }

   @media only screen and (max-width:1000px) {
    // display: block;
    @include flexCol(center,flex-start,50);
           height:100vh;
           width: 100vw;
           background-color:$primaryColor;
           padding: 50px;
           position: absolute;
           top:0;
           left:0;
           z-index:9999;

           .closeIcon{
            display: block;
            cursor: pointer;
            position: absolute;
            right:50px;
            top:30px;
            color: $secondaryColor;
            
           }
      

           .sectionTwo{
             .navigation{
                @include flexCol(center,center,50);
            }
           }

           

   }

  }


}

